<!doctype html>
<html>
  <head>
    <title>The Pussy Cat Review</title>
    <link rel="stylesheet" href="/vendor/foundation/foundation.min.css">
    <link rel="stylesheet" href="/assets/css/pcr.css">
    <link rel="stylesheet" href="/assets/css/media.css">


    <script src='/vendor/foundation/foundation.min.js'></script>
    <script src="/vendor/jquery/jquery.scrollTo.js"></script>
    <script src='/assets/js/pcr.js'></script>


  </head>
  <body>
    <div class="container">

      <!-- slide #1 -->
      <div id="slide1" class='slide'>
        <div class="row">
          <div class="sign">
            <h1>The Pussycat Revue</h1>
          </div>
        </div>
        <div class="row">

        </div>
      </div>

      <!-- slide #2 -->
      <div id="slide2" class='slide'>
        <div class="row">
          <div class="large-12 small-12 columns">
            <a name='whatisthepussycatreview'>
              <h2>What is the Pussycat Review?</h2>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="large-12 small-12 columns">
            <p>
            A long, long time ago...in a time before television, the internet, and cellphones...live entertainment was king. If you wanted to see a show you had to leave the house. Typically they were not like the scripted shows of today. Shows from this era were a mishmash of song, dance, comedy, music, sketches, magic, circus, and more.This style of entertainment which reigned supreme for over 50 years quickly fell into disfavor after the advent of talking pictures and television.</p>
            <p>
            People say that “variety is still dead.” Millions are watching shows such as America’s Got Talent and Dancing with the Stars. New York City has had a steadily growing neoburlesque and variety movement since the late 1990’s. Currently there are numerous small shows running in these genres. However there is nothing on the grand scale of the shows from variety’s heyday.</p>
            <p>
            The Pussycat Revue is a pastiche of genres which never co-existed under a single roof in the past. However what we are trying to do is throw a show the like of which New York City hasn’t seen in over 80 years. The basic structure of the show is modeled after the Ziegfeld Midnight Frolic consisting of two acts with a dance in the middle. We are going to present traditional variety acts, classic burlesque dance, and swing music in a Broadway size spectacle. The Pussycat Revue will feature all live music preferably acoustic as it was meant to be heard. Much more than a show The Pussycat Revue is an attempt to bring people back to a classier time. When people dressed up to go out, and men took off their hats inside. The old-style nightclub atmosphere, and classic cocktails at The Pussycat Revue alone would make for a fine evening out.</p>
          </div>
        </div>
        </div>


      <!-- #slide #3 -->
      <div id="slide3" class='slide'>
        <div class="row">
          <div class="large-12 small-12 columns">
            <h2>Gallery</h2>
          </div>
        </div>
        <div class="row">
          <div class="large-12 small-12 columns">
            <p>
              Since we don’t have a show of our own yet here is a few images and clips that have served as inspiration for <em>The Pussycat Revue</em>, and are representative of the types of acts which will be presented.</p>
          </div>
        </div>
        <div class="row">
          <div class="large-12 small-12 columns">
            <button class="button">
            Click to Start the Show!</button>
          </div>
        </div>
        </div>

      <!-- slide #4 -->
      <div id="slide4" class='slide'>
        <div class="row">
          <div class="large-4 small-4 columns">
            <img src="../assets/images/billykinskysburlesque.jpeg" alt="Billy Kinsky Burlesque">
          </div>
          <div class="large-8 small-8 columns">
            <h2>Billy Minsky</h2>
            <p>
            Minsky was one of the most famous names in burlesque. The Republic on 42nd St. was their flagship location. For the first time burlesque was featured side-by-side with Broadway shows. Today Minsky’s Republic is the New Victory Theater which is New York City’s largest theater for children and families. A burlesque show from that era was on the scale of a Broadway show unlike the small cabaret shows of today. The goal of The Pussy Cat Revue is to bring back burlesque and variety to the glory days of yesteryear.</p>

          </div>
        </div>
      </div>

      <!-- slide #5 -->
      <div id="slide5" class='slide'>
        <div class="row">
          <div class="large-4 small-4 columns">
            <img src="../assets/images/gypsieroselee.jpg" alt="Gypsie Rose Lee">
          </div>
          <div class="large-8 small-8 columns">
            <h2>Gypsie Rose Lee</h2>
            <p>
              Gypsy Rose Lee is a name that most people know. She was the most famous stripper of all time, and a star of the Minsky Stage. If you can find a good clip of her doing an actual strip-tease let me know.
            </p>
          </div>
        </div>
      </div>

      <!-- slide #6 -->
      <div id="slide6" class='slide'>
        <div class="row">
          <div class="large-4 small-4 columns">
            <img src="../assets/images/gypsieroselee.jpg" alt="Gypsie Rose Lee">
          </div>
          <div class="large-8 small-8 columns">
            <h2>Gypsie Rose Lee</h2>
            <p>
              Gypsy Rose Lee if a name that most people know. She was the most famous stripper of all time, and a star of the Minsky Stage. If you can find a good clip of her doing an actual strip-tease let me know.
            </p>
          </div>
        </div>
      </div>


      <!-- slide -- investor info. -->
      <div id="slide99" class='slide'>
        <div class="row">
          <div class="large-8 small-8 columns large-centered small-centered">
            <h2>Investor Information</h2>
            <p>
            Does The Pussycat Revue sound like fun to you? Is it something you would like to be a part of? You are being offered an investment opportunity unlike any other you ever have before whether you are an experienced entertainment investor or a novice. A show like this has a wide range of appeal. It will attract the theater audience and also many people who would not typically go out to a theatrical presentation. A typical audience at The Pussycat Revue would most likely be full of professionals in their twenties through forties. A group which in New York City has disposable income to go out and live it up. The Pussycat Revue has the potential to be popular with middle-aged people and up because it will bring back memories of films and television shows from their youth.</p>
            <p>
            We are currently have two potential locations on 42nd St. in Times Square which we are investigating the possibility of acquiring. An area where the foot traffic alone is in the hundreds of thousands daily. I am searching for other potential locations in Manhattan if those fall through. Also I am beginning the process of lining up my talent with names to come soon!</p>
            <p>
            You  may say “variety is dead,”  “entertainment is a risky investment,” and “the cast size will be too big you’ll never make money.”  I hope this webpage has helped to make a case that variety is alive and well and that there is a potential to make money. If you know anything at all about investing in entertainment you know it is risky and only one out of five projects reach the break even point. The Pussycat Revue has many advantages over a traditional show. The biggest is that there is no script. Acts can be tweaked to work better or removed. The order can be changed as needed. New acts can be added whenever we like. We can do seasonal shows, and insert topical humor. Last but not least The Ringling Bros. and Barnum & Bailey’s Circus and Cirque du Soleil  have large casts and make money. If they can do it so can we.</p>
            <p>
            Producing a show in New York is only the beginning of the potential for The Pussycat Revue. Vaudeville and burlesque were run by some of the greatest entrepreneurs of the twentieth century, and had circuits that spanned the entire country. There is no reason why some of these old business models cannot work today. By expanding to others cities The Pussycat Revue could begin its own circuit greatly expanding the quality of our show and keep more people working full time. Once again we use Cirque du Soleil example of a company that has different shows playing all over the world.</p>
            <p>
            We are looking for accredited investors or at least people who are eligible to help with our capitalization efforts. We need to secure a venue before we talk numbers because there are too many variables involved. If <em>The Pussycat Revue</em> sounds like something you would like to be a part of please fill out the contact form below for more information.</p>
          </div>
        </div>
      </div>

      <!-- slide -- investor info. -->
      <div id="slide98" class='slide'>
        <div class="row">
          <h2>Contact Me</h2>
        </div>
        <div class="row">
          <p>nick810@gmail.com</p>
        </div>
      </div>



      <!-- menu -->
      <div class="menu">
        <div class="item" data-slide='2'><a href="#slide1">What is The Pussycat Revue?</a></div>
        <div class="item" data-slide='3'>Gallery</div>
        <div class="item" data-slide='4'>Investor Information</div>
        <div class="item" data-slide='6'>Contact Us</div>
      </div>


    </div>


    </div>
  </body>
</html>