<!doctype html>
<html>
  <head>
    <title>The Pussy Cat Review</title>
    <link rel="stylesheet" href="/vendor/foundation/foundation.min.css">
    <link rel="stylesheet" href="/assets/css/pcr.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src='/vendor/foundation/foundation.min.js'></script>
    <script src='assets/js/pcr.js'></script>

  </head>
  <body>
    <div class="container">

      <!-- slide #1 -->
      <div id="slide1" class='slide'>
        <div class="row">
          <div class="sign">
            <h1>The Pussy Cat Review</h1>
          </div>
        </div>
        <div class="row">
          <div class="menu">
            <div class="item">Item 1</div>
            <div class="item">Item 2</div>
            <div class="item">Item 3</div>
          </div>
        </div>
      </div>

      <!-- slide #2 -->
      <div id="slide2" class='slide'>
        <div class="row">
          <div class="large-12 columns">
            Hello World
          </div>
        </div>
        </div>
      </div>

      <!-- #slide #3 -->
      <div id="slide3" class='slide'>
        <div class="row">
          <div class="large-12 columns">
            Third Slide
          </div>
        </div>

      </div>

      <!-- slide #4 -->
      <div id="slide4" class='slide'>
        <div class="row">
          <div class="large-12 columns">
            Fourth Slide
          </div>
        </div>
      </div>

    </div>
  </body>
</html>