<!doctype html>
<html>
  <head>
    <title>The Pussycat Revue</title>
    <meta name='viewport', content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="vendor/foundation/foundation.min.css">
    <link rel="stylesheet" href="vendor/foundation-glyphicons-master/stylesheets/foundation-glyphicons.css">
    <link rel="stylesheet" href="assets/css/pcr.css">
    <link rel="stylesheet" href="assets/css/media.css">


    <script src='vendor/foundation/foundation.min.js'></script>
    <script src="vendor/jquery/jquery.scrollTo.js"></script>
    <script src='vendor/jquery/jquery.serialScroll-1.2.2-min.js'></script>
    <script src='assets/js/pcr.js'></script>


  </head>
  <body>
    <div id="container" class="container">
      <div id="content" class="content">
      <div class="row">
        <div class="12-large columns">
          <div class="slide">
            <div class="sign">
              <h1>The Pussycat Revue</h1>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </body>
</html>