@font-face {
  font-family: Broadway;
  src: url(../fonts/broadway.ttf);
}

/* line 13, ../../../sass/pcr.scss */
.container {
  position: relative;
  background-image: url("../images/curtains.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 -100px;
}
/* line 14, ../../../sass/pcr.scss */
.container a {
  text-decoration: none;
  color: #FFF;
  position: relative;
  z-index: 10 !important;
  display: block;
}
/* line 20, ../../../sass/pcr.scss */
.container a:hover {
  cursor: pointer;
  text-decoration: underline;
}
/* line 25, ../../../sass/pcr.scss */
.container .curtains {
  position: absolute;
  top: 0;
}
/* line 28, ../../../sass/pcr.scss */
.container .curtains #curtains_top {
  left: 0;
  width: 100%;
  z-index: 10;
}
/* line 33, ../../../sass/pcr.scss */
.container .curtains #curtains_right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
}
/* line 48, ../../../sass/pcr.scss */
.container .slide {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 880px;
  background-color: #000;
  color: #FFF;
  text-align: center;
  z-index: -1;
}
/* line 58, ../../../sass/pcr.scss */
.container .slide .content {
  position: relative;
  width: 800px;
  margin: 0 auto;
  background-color: green;
}
/* line 65, ../../../sass/pcr.scss */
.container .slide h2 {
  font-family: Broadway;
}
/* line 68, ../../../sass/pcr.scss */
.container .slide .desc {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1px 5px 5px 5px;
}

/* line 82, ../../../sass/pcr.scss */
#slide1 .sign {
  position: relative;
  top: 250px;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 35px;
  border-width: 1px;
  border-color: lightyellow;
  background-color: purple;
  box-shadow: 5px 5px 400px lightyellow;
}
/* line 98, ../../../sass/pcr.scss */
#slide1 .sign h1 {
  font-family: Broadway;
  font-size: 2.5em;
  text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #ff00de, 0 0 7px #ff00de, 0 0 8px #ff00de, 0 0 10px #ff00de, 0 0 15px #ff00de;
}
/* line 111, ../../../sass/pcr.scss */
#slide1 .subtitle {
  position: relative;
  top: 325px;
}

/* line 119, ../../../sass/pcr.scss */
#slide2 {
  position: relative;
  color: #fff;
}

/* line 124, ../../../sass/pcr.scss */
#slide3 {
  position: relative;
  color: #fff;
  text-align: center;
  overflow: hidden;
}
/* line 129, ../../../sass/pcr.scss */
#slide3 h2 {
  margin-bottom: 0;
}

/* line 134, ../../../sass/pcr.scss */
#slide4 {
  position: relative;
  color: #fff;
}

/* line 139, ../../../sass/pcr.scss */
#slide5 {
  position: relative;
  color: #fff;
}

/* line 144, ../../../sass/pcr.scss */
#gallery {
  overflow: hidden;
  width: 100%;
  text-align: center;
}
/* line 149, ../../../sass/pcr.scss */
#gallery #buttons {
  position: relative;
  left: 350px;
  margin-bottom: 5px;
}
/* line 153, ../../../sass/pcr.scss */
#gallery #buttons a {
  display: inline-block;
  cursor: pointer;
}

#gallery #buttons a:hover {
  cursor: pointer;
}

/* line 158, ../../../sass/pcr.scss */
#gallery #slides {
  overflow: hidden;
  position: relative;
  width: 900px;
  height: 500px;
  border: 5px solid white;
  box-shadow: 2px 2px #ececec;
  margin: 0 auto;
}
/* line 167, ../../../sass/pcr.scss */
#gallery ul {
  position: relative;
  left: 0;
  top: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 2700px;
}
/* line 176, ../../../sass/pcr.scss */
#gallery ul li {
  width: 900px;
  height: 500px;
  float: left;
  color: white;
}
/* line 183, ../../../sass/pcr.scss */
#gallery ul li h2 {
  position: relative;
  right: 0;
  margin: 25px;
}
/* line 191, ../../../sass/pcr.scss */
#gallery ul li img {
  border: 1px solid #FFF;
  margin: 5px;
  opacity: 1;
}
/* line 197, ../../../sass/pcr.scss */
#gallery ul li #g_slide3a {
  background-image: url(../images/GypsyRoseLeeMemphis1949.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  filter: alpha(opacity=70);
}
/* line 205, ../../../sass/pcr.scss */
#gallery ul li #g_slide3b {
  background-image: url(../images/MinskyBurlesque.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}
/* line 212, ../../../sass/pcr.scss */
#gallery ul li #g_slide3c {
  background-image: url(../images/ZiegfeldMidnightFrolic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 150px -300px;
  opacity: 0.9;
}
/* line 221, ../../../sass/pcr.scss */
#gallery ul li #g_slide3d {
  background-image: url(../images/palace-theatre-new-york111.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#gallery ul li #g_slide3e {
  background-image: url(../images/harryhoudini.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#gallery ul li #g_slide3f {
  background-image: url(../images/Bojangles.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}



/* line 246, ../../../sass/pcr.scss */
.menu {
  position: fixed;
  width: 100%;
  top: 600px;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}
/* line 254, ../../../sass/pcr.scss */
.menu .item {
  display: inline-block;
  background-color: purple;
  border-radius: 3px;
  border: 1px solid black;
  padding: 15px;
  margin: 0 25px;
  color: white;
  font-family: Broadway;
}
/* line 263, ../../../sass/pcr.scss */
.menu .item:hover {
  cursor: pointer;
}
