@font-face {
  font-family: Broadway;
  src: url(../fonts/broadway.ttf);
}

/* line 13, ../../../sass/pcr.scss */
.container {
  position: relative;
  background: rgba(0, 0, 0, 0.9) url("../images/Times_Square_MAM.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 -100px;
}
/* line 21, ../../../sass/pcr.scss */
.container .content {
  background-color: transparent;
  min-height: 1000px;
}
/* line 26, ../../../sass/pcr.scss */
.container .content .slide {
  position: relative;
  margin: 3% auto;
  background: rgba(255, 255, 255, 0.7);
  min-height: 600px;
  border-radius: 5px;
}
